.Home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/kreiva-ui_background.png');
    background-size: cover;
}

#MainLogo{
    position: absolute;
    width: 30%;
    left: 35%;
    top: 10vmin;
    margin:auto;
}

#Sidebar{
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    top: 5vmin;
    right: 5vmin;
    z-index: 4;
}

#Sidebar:hover{
    cursor: pointer;
}

#Water_Home{
    position: absolute;
    left: 0%;
    bottom:0%;
    width:105%;
    height: 25%; 
    z-index: 1;
}

#Ship_Home{
    position: absolute;
    height: 20vmax;
    width: 10vmax;
    left: 2%;
    bottom: 15%;
    z-index: 2;
}

#Date_Home{
    position: relative;
    display: inline-block;
    bottom: 2%;
    /* left: 60%; */
    color: white;
    font-size: 3vmin;
    z-index: 3;
    bottom: 1vh;
    margin: 1vmin;

}

.LinksSection{
    position: absolute;
    margin: 0px;
    bottom: 2%;
    left: 10%;
    z-index: 4;
    width: 80%;
    margin: auto;
    height: 10vh;
}


#Social_Home{
    position: relative;
    color: white;
    display: inline-block;
    font-size: 3vmin;
    z-index: 3;
    bottom: 1vh;
    margin: 1vmin;
}

#Calendar{
    position: relative;
    width: 5vmin;
    height: 5vmin;
    margin:1vmin; 
}

#fb, #insta,#twitter{
    position: relative;
    width: 5vmin;
    height: 5vmin;
    margin:1vmin;
}

@media (max-width:1024px){
    #MainLogo{
        top: 25vh;
        width: 50%;
        left: 25%;
    }
}